Documents/EAU.COD.Documents.Domain/Validations/XSDSchemas/Schemas/R-3166_EntityAssignorData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-3166" xmlns="http://ereg.egov.bg/segment/R-3166" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xsd:complexType name="EntityAssignorData">
    <xsd:annotation>
      <xsd:documentation xml:lang="bg">Юридическо лице</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identifier" type="xsd:string" minOccurs="0" />
      <xsd:element name="FullName" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>